@import '../../.cache/wal/colors-waybar.css';

window{
font-family: "NotoSansMono"
}
window#waybar{
    background: alpha(@background, 0.5);
    color: @color6;
}
.modules-left {
padding-left: 15px;
}
.modules-right {
padding-right: 15px;
}
#workspaces button {
background: transparent;
border:transparent;
box-shadow: none;
text-shadow: none;
color: @color6;
}
#custom-cava {
color: @color12;
padding-left:15px;
}
#window {
margin-left: -5px;
}
#custom-gt {
color: @color12;
padding-right:15px;
}
#clock {
padding: 15px;
}
